<div class="container">
  <h1>User Information</h1>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <th>Name</th>
            <td><%= @user.first_name %> <%= @user.last_name %></td>
          </tr>
          <tr>
            <th>Bio</th>
            <td><%= @user.bio %></td>
          <tr>
            <th>Email</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>Role</th>
            <% if @user.role == 0 %>
              <td>Student</td>
            <% elsif @user.role == 1 %>
              <td>Instructor</td>
            <% else %>
              <td>N/A</td>
            <% end %>
          </tr>
          <tr>
            <th>Admin</th>
            <td><%= @user.admin? ? "Yes" : "No" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%= link_to "Edit User", edit_user_path(@user), class: "btn btn-primary" %>
  <%= link_to "Back to List", users_path, class: "btn btn-secondary" %>
</div>
