<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", class: "logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row justify-content-end">
        <div class="col-12">
          <%= form_with url: courses_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "search"
              %>
            <%= submit_tag "ðŸ”", class: "btn-search" %>
          <% end %>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "ðŸ  Home", root_path, class: "nav-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "ðŸ’» My Learning", enrolments_path, class: "nav-link" %>
          </li>

          <% if policy(Course).new? %>
            <li class="nav-item">
              <%= link_to "ðŸ†• New Course", new_course_path, class: "nav-link" %>
            </li>
          <% end %>

          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to "ðŸ¤“ Manage Users", manage_users_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <%= image_tag "avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "> Edit profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "> Change password", edit_user_password_path, class: "dropdown-item" %>
              <%= link_to "> Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
