 <%= form_with(model: @course, local: true, html: { class: "form-horizontal" }, multipart: true) do |f| %>
    <div class="mb-3">
      <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :price, class: "form-label" %>
      <%= f.number_field :price, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :syllabus, class: "form-label" %>
      <%= f.text_area :syllabus, class: "form-control", name: "course[syllabus][]", value: Array(@course.syllabus).join("\n") %>
    </div>
    <div class="mb-3">
      <%= f.label :category, class: "form-label" %>
      <%= f.select :category, Course::CATEGORIES, {}, { class: "form-select" } %>
    </div>
    <div class="mb-3">
      <%= f.label :photo, class: "form-label" %>
      <%= f.file_field :photo, class: "form-control" %>
    </div>
    <%= f.submit "Create Course", class: "btn-view" %>
  <% end %>
</div>

<% if @course.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

    <ul>
    <% @course.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
