<div class="container">
  <h1>CREATE A NEW COURSE</h1>
  <p><%= simple_form_for(@course) do |f| %>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= f.input :syllabus %>
  <%= f.label :category %>
  <%= f.select :category, Course::CATEGORIES, {}, { class: "form-control" } %>
  <%= f.input :photo, as: :file %>
  <%= f.input :price %>
  <%= f.button :submit %>
<% end %></p>
</div>
