<div class="container">
  <div class="row">
    <h1 class="mt-2"><%= @course.title %></h1>

    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <p class="card-text"><%= @course.description %></p>
          <p class="card-text small-text">💰 <%= number_to_currency(@course.price) %></p>
          <p class="card-text small-text">Category: <%= @course.category %></p>
          <p class="card-text small-text">Syllabus: <%= @course.syllabus.join("\n") %></p>
          <%# <% if @course.syllabus.is_a?(ActiveStorage::Attached::Many) && @course.syllabus.attached? %>
            <%# <h5 class="card-title">Syllabus</h5> %>
            <%# <%= link_to @course.syllabus.filename, rails_blob_path(@course.syllabus, disposition: "attachment"), class: "btn btn-gradient" %>
          <%# <% end %>

          <div>
          <% if user_signed_in? && current_user != @course.user %>
            <%= link_to "Enrol", enrol_new_course_path(@course), class: "btn-enrol" %>
          <% end %>
          </div>
          <% if user_signed_in? && @course.user == current_user %>
          <div class="d-flex">
            <% if policy(@course).edit? %>
              <%= link_to edit_course_path(@course) do %>
                <i class="fas fa-edit me-3 "></i>
              <% end %>
            <% end %>
            <% if policy(@course).destroy? %>
              <%= link_to @course, method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-5">
            <h2>✴️ Reviews</h2>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Rating: <%= @course.rating %></p>
          <% @course.reviews.each do |review| %>
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= review.user.email %></h5>
                <p class="card-text">Rating: <%= review.rating %></p>
                <p class="card-text">Comment: <%= review.comment %></p>
              </div>
            </div>
          <% end %>
          </div>
      </div>
    </div>
  </div>
