<div class="container mt-5">
  <div class="row">
    <h1 class="mt-2 show-title"><%= @course.title %></h1>

    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <p class="card-text"><%= @course.description %></p>
          <p class="card-text small-text">💰 <%= number_to_currency(@course.price) %></p>
          <p class="card-text small-text">Category: <%= @course.category %></p>
          <p class="card-text small-text">Syllabus: <%= @course.syllabus%></p>
          <% if @course.session_start.present? %>
            <p class="card-text">Next session start: <%= Date.parse(@course.session_start.to_s).strftime("%B %d, %Y") %></p>
          <% end %>
          <% if @course.session_end.present? %>
            <p class="card-text">Next session end: <%= Date.parse(@course.session_end.to_s).strftime("%B %d, %Y") %></p>
          <% end %>
          <div>
            <% if !user_signed_in? %>
                <%= link_to "Enroll", new_user_session_path, class: "btn-enrol" %>
              <% elsif current_user == @course.user %>
                <% if policy(@course).edit? %>
                  <%= link_to edit_course_path(@course) do %>
                    <i class="fas fa-edit me-3 "></i>
                  <% end %>
                <% end %>
                <% if policy(@course).destroy? %>
                  <%= link_to @course, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this course?" } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                <% end %>
              <% elsif current_user.enrolled_in?(@course) %>
                <%= button_to "Unenroll", enrolment_path(id: @enrolment.id, course_id: @course.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to unenroll from this course?" }, class: "btn btn-danger" %>
              <% else %>
                <%= link_to "Enroll", enrol_new_course_path(@course), class: "btn-enrol" %>
              <% end %>
            </div>
        </div>
      </div>
    </div>

    <div class="col-5">
      <h2>✴️ Reviews</h2>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Rating: <%= @course.rating %></p>
          <% @course.reviews.each do |review| %>
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= review.user.email %></h5>
                <p class="card-text">Rating: <%= review.rating %></p>
                <p class="card-text">Comment: <%= review.comment %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
